@import 'vxe-table/styles/index.scss';

// 全部样式变量参考：https://github.com/x-extends/vxe-table/blob/master/styles/cssvar.scss
html.dark {
  --vxe-primary-color: var(--text-color);
  --vxe-font-color: #98989e;
  --vxe-icon-background-color: #98989e;
  --vxe-table-font-color: #98989e;
  --vxe-table-resizable-color: #95969a;
  --vxe-table-header-background-color: #28282a;
  --vxe-table-body-background-color: #151518;
  --vxe-table-background-color: #4a5663;
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #37373a;
  --vxe-pager-background-color: #151518;
  --vxe-input-background-color: #151518;
  --vxe-select-panel-background-color: #151518;
  --vxe-select-option-hover-background-color: #28282a;
  --vxe-loading-background-color: rgba(0, 0, 0, 0.2);
}
